<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylelegales.css">
    <title>Legales</title>
</head>
<body>

  <nav class="navbar">
    <ul>    
  <!--<li><a href="../../index.html">Home</a></li>-->
      <li><a href="../../public/views/home.html">Home</a></li>
         <li class="submenu">        
           <a href="">Productos</a>
           <ul>
           <li><a href="../views/verdant.html">Tienda de plantas</a></li>
           <li><a href="../views/deco.html">Decoración</a></li>
           <li><a href="../views/conmat.html">Construcción Materiales</a></li>
           </ul>
         </li>
       <li><a href="../../public/views/registro.html">Registrarse</a></li>
       <li><a href="../../public/views/tucompra.html">Tu compra</a></li>
       </ul>
</nav>

    <!--<div class="no-select">
    <iframe src="public/views/AvisolegalTerminosyCondiciones.doc.html" width="100%" height="800px"></iframe>
    </div>-->

    <footer class="footer">
      <section class="ft-legal">
          <div>
              <ul class="ft-legal-list">
                  <!--<a href="public/views/AvisolegalTerminosyCondiciones.doc.html" target="_blank">Aviso legal - Términos y condiciones</a>
                      <a href="../public/views/AvisolegalTerminosyCondiciones.doc.html" target="_blank">Aviso legal - Términos y condiciones</a>
                  <li><a href="public/views/AvisolegalTerminosyCondiciones.doc.html">Términos y condiciones</a></li>
                  <li><a href="public/views/legales.html">Términos y condiciones</a></li>-->
                  <li><a href="../views/AvisolegalTerminosyCondiciones.doc.html">Términos y condiciones</a></li>
                  <li>&copy; 2023 Copyright Shop_online</li>
              </ul>
          </div>
      </section>
  </footer> 
    
</body>
</html>